.post-div{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}

.post-item{
    padding-bottom:30px !important ;
}